<h1>Create a Gist!</h1>

<%= simple_form_for @gist do |f| %>

  <%= f.input :title %>

  <p>Gist Files:</p>

    <div class="gist-file-forms">
      <%= f.simple_fields_for :gist_files do |gf| %>
        <div class="gist-file-form">
          <%= gf.input :body %>
          <%#= link_to "remove file", href="#" %>
          <a href="#" class="remove-file-button">Remove file</a>
        </div>
      <% end %>
    </div>

    <a href="#" class="add-file-button">Add file</a>
  <%= f.submit %>

<% end %>


<script>
  $(function() {
    $('.gist-file-forms').on('click', '.remove-file-button', function(event) {
      $(this).parent().remove();
    }),

    $('.add-file-button').on('click', function(event) {
      var form = $('.gist-file-form').first().clone();
      $(form).appendTo('.gist-file-forms');

    })


  })
</script>